@function black($opacity) {
  @return rgba(0,0,0,$opacity);
}
@function dark($opacity) {
  @return rgba(#1a1a1b,$opacity);
}
@function orange($opacity) {
  @return rgba(#ffa01b,$opacity);
}
@function light($opacity) {
  @return rgba(#efefef,$opacity);
}
@function white($opacity) {
  @return rgba(255,255,255,$opacity);
}


$btnHeight: 64px;


*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'futura-pt', 'Futura', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  color: dark(1);
  background: light(1);
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
}
p, ul, ol, pre, table, blockquote {
  padding: 0;
  margin: 0;
}
img,
svg {
  max-width: 100%;
  height: auto;
}
button svg g,
button svg path {
  fill: currentColor;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-smoothing: inherit;
  margin: 0;
  padding: .25em .5em;
  color: inherit;
  background: none;
  border: none;
}
input[type=text],
input[type=number],
textarea {
  margin: .25em .25em;
  color: dark(1);
  background: white(.9);
  border: 1px solid black(.17);
}
input:focus {
  outline: 2px solid dark(1);
  outline-offset: -2px;
  background: white(1);
}

button {
  text-align: center;
  cursor: pointer;
}
button:hover {
  color: orange(1);
}
button:focus {
  outline: 1px solid dark(1);
  outline-offset: -5px;
}


.hide {
  display: none;
}


.layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.items {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: $btnHeight;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  padding: .25em;
  //border-bottom: 1px solid dark(.2);
}
.item button:hover {
  color: dark(.6);
  cursor: grab;
}
.selected {
  color: white(1);
  background: #ffa01b;
  background: orange(1);
}
.sorting {
  box-shadow:
    0px 4px 14px 0px black(.3),
    0px 1px 3px 0px black(.1),
    inset 0px -1px 0px 0px black(.2);
  background: orange(.7);
}
.name {
  flex-grow: 1;
  flex-shrink: 1;
  cursor: pointer;
}
.name:focus {
  cursor: auto;
}
.duration {
  flex-basis: 5em;
  width: 5em;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
}
.duration:focus {
  cursor: auto;
}
.sort {
  color: dark(.33);
}


.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
  z-index: 800;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: $btnHeight;
  color: dark(1);
  background: light(1);
  box-shadow:
    0px 14px 14px 14px black(.3),
    0px 3px 3px 3px black(.1),
    inset 0px 1px 0px 0px black(.3);
}
.controls button {
  font-weight: 600;
  font-size: 24px;
  line-height: $btnHeight;
  display: block;
  padding: 0;
  height: $btnHeight;
  min-width: $btnHeight;
}
.controls button svg {
  display: inline-block;
  vertical-align: middle;
}
.playback {
  flex-grow: 1;
}
.add,
.remove {
  flex-grow: 1;
}


.timer {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.elapsed {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  width: 0%;
  //background: light(.3);
}
.remaining {
  position: fixed;
  z-index: 100;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  width: 100%;
  background: black(.5);
}
