*, *::before, *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: 'futura-pt', 'Futura', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  color: #1a1a1b;
  background: #efefef; }

a {
  color: inherit;
  text-decoration: none; }

p, ul, ol, pre, table, blockquote {
  padding: 0;
  margin: 0; }

img, svg {
  max-width: 100%;
  height: auto; }

button svg g, button svg path {
  fill: currentColor; }

input, button, select, textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-smoothing: inherit;
  margin: 0;
  padding: 0.25em 0.5em;
  color: inherit;
  background: none;
  border: none; }

input[type=text], input[type=number], textarea {
  margin: 0.25em 0.25em;
  color: #1a1a1b;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.17); }

input:focus {
  outline: 2px solid #1a1a1b;
  outline-offset: -2px;
  background: white; }

button {
  text-align: center;
  cursor: pointer; }

button:hover {
  color: #ffa01b; }

button:focus {
  outline: 1px solid #1a1a1b;
  outline-offset: -5px; }

.hide {
  display: none; }

.layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.items {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 64px;
  overflow-y: scroll;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding: 0.25em; }

.item .sort:hover {
  color: rgba(26, 26, 27, 0.6);
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.selected {
  color: white;
  background: #ffa01b;
  background: #ffa01b; }

.sorting {
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 0px rgba(0, 0, 0, 0.1), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 0px rgba(0, 0, 0, 0.1), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
  background: rgba(255, 160, 27, 0.7); }

.sorting, .sorting .sort:hover {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

.name {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  cursor: pointer; }

.name:focus {
  cursor: auto; }

.duration {
  -webkit-flex-basis: 5em;
      -ms-flex-preferred-size: 5em;
          flex-basis: 5em;
  width: 5em;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  cursor: pointer; }

.duration:focus {
  cursor: auto; }

.sort {
  color: rgba(26, 26, 27, 0.33); }

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: absolute;
  z-index: 800;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 64px;
  color: #1a1a1b;
  background: #efefef;
  -webkit-box-shadow: 0px 14px 14px 14px rgba(0, 0, 0, 0.3), 0px 3px 3px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 14px 14px 14px rgba(0, 0, 0, 0.3), 0px 3px 3px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.3); }

.controls button {
  font-weight: 600;
  font-size: 24px;
  line-height: 64px;
  display: block;
  padding: 0;
  height: 64px;
  min-width: 64px; }

.controls button svg {
  display: inline-block;
  vertical-align: middle; }

.playback {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.add, .remove {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.timer {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; }

.elapsed {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  width: 0%; }

.remaining {
  position: fixed;
  z-index: 100;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }
